
    .subscribe_button {

        background-color: rgb(200, 0, 0);
        color: white;
       padding-left: 20px;
       padding-top: 10px;
       padding-bottom: 10px;
       padding-right: 20px;
        border-radius: 2px;
        border: none;
        cursor: pointer;
        margin-left:20px;
        margin-right: 20px;
        transition: opacity 0.15s;
        
    }
    .subscribe_button:hover{
     opacity: 0.5;
        
    }.subscribe_button:active{
        opacity: 0.3;
       
    }

    .join-button {
        background-color: white;
        border-color: rgb(52, 52, 248);
        color: rgb(57, 57, 250);
        border-radius: 2px;
        border-style: solid;
        border-width: 1px;
        height: 36px;
        cursor: pointer;
        width: 66px;
        margin: 8px;
      transition:  1s,
      color 1s;
      
    }
    .join-button:hover{
        background-color: #1d9bf0;
        color: white;
    }
    .join-button:active{
        opacity: 0.5;
    }

    .tweet-button {
        background-color: #1d9bf0;
        color: white;
        font-weight: bold;
        font-size: 15px;
        border: none;
        width: 76px;
        height: 36px;
        border-radius: 50px;
        cursor: pointer;
        transition:box-shadow 0.15s;
    }
 .tweet-button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
 }


